@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000;
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
  color: white;
}

#root {
  width: 100vw;
  height: 100vh;
}

/* Xterm overrides */
.xterm-viewport::-webkit-scrollbar {
  width: 8px;
}

.xterm-viewport::-webkit-scrollbar-track {
  background: transparent;
}

.xterm-viewport::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 10px;
}

@keyframes scanline {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(400%);
  }
}

.animate-scanline {
  animation: scanline 8s linear infinite;
}